# Ignore .gitignore
.gitignore

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
.venv/
env/

# Ignore environment/config files
*.env
*.env.*

# Ignore logs
*.log


# Ignore image/data dumps
*.jpg
*.jpeg

